.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent {
  color: #2196f3;
}

.link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.button {
  border-radius: 4px;
  height: 50px;
  width: 200px;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.heading {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.icon {
  fill: currentColor;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header__item {
  position: relative;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link--nav {
  color: #212121;
}

.header__link--current {
  color: #2196f3;
}

.header__link--current::after {
  position: absolute;
  top: 45px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  text-align: center;
}

.header__contact:last-child {
  margin-left: 50px;
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  color: #ffffff;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
}

.hero__title {
  margin: 0 252px 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.features__card {
  width: 270px;
  margin: 15px;
}

.features__heading {
  margin: 0 0 10px;
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.work__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.work__card {
  position: relative;
  margin: 15px;
}

.work__thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__heading {
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
}

.team__heading {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.team__card {
  margin: 15px;
}

.team__thumb {
  width: 270px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover, .team__social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
  margin-top: 0;
}

.clients__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__card-item {
  margin: 15px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.modal__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__overlay--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__overlay--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal__close--button {
  position: relative;
  margin-left: 490px;
  margin-top: 8px;
  margin-right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__close--button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("../images/close-button.svg");
  background-repeat: no-repeat;
}

.modal__close--button:hover, .modal__close--button:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__form {
  margin: 2px 40px 40px;
}

.modal__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__item {
  margin-bottom: 28px;
}

.modal__item:last-child {
  margin-bottom: 20px;
}

.modal__inputs {
  margin-top: 30px;
}

.modal__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input:focus {
  border-color: #2196f3;
  outline: none;
}

.modal__form-field {
  display: inline-block;
  position: relative;
}

.modal__icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 12px;
  color: #212121;
}

.modal__form-field:focus-within .modal__icon {
  color: #2196f3;
}

.modal__label {
  position: absolute;
  top: -15px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal__textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.modal__textarea::-webkit-input-placeholder {
  color: #757575;
}

.modal__textarea:-ms-input-placeholder {
  color: #757575;
}

.modal__textarea::-ms-input-placeholder {
  color: #757575;
}

.modal__textarea::placeholder {
  color: #757575;
}

.modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal__check-label {
  margin-left: 7px;
}

.modal__link {
  margin-left: 0.5em;
  color: #2196f3;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
}

.modal__check-input {
  display: inline-block;
  height: 15px;
  width: 16px;
  background-image: url(../images/icon-not-checked.svg);
}

.modal__checkbox:checked + .modal__check-input {
  background-image: url(../images/icon-checked.svg);
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__address {
  color: #ffffff;
  font-style: normal;
}

.footer__paragraph {
  margin-bottom: 9px;
}

.footer__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__link:first-child {
  margin-bottom: 9px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__column:first-child {
  margin-right: 70px;
}

.footer__column:not(:first-child) {
  margin-top: 12px;
}

.footer__column:last-child {
  margin-left: auto;
}

.footer__heading {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: #44454e;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196f3;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 12px;
}

.footer__input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer__button::after {
  content: '';
  height: 24px;
  width: 24px;
  display: inline-block;
  margin: 10px 0 13px 10px;
  background-image: url("../images/icon-send.svg");
}
/*# sourceMappingURL=main.css.map */